@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply text-slate-100 bg-slate-950;
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
}
